@import "_variables.css";

html {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    max-width: 1000px;
    width: 100%;
    height: auto;
    background-color: var(--whiteish);
    margin: 20px;
}

main {
    padding: 5%;
}

h3 {
    color: var(--dark-blue)
}

button {
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    color: var(--dark-blue)
}

button:hover{
    background-color: var(--light-blue);
    color: var(--whiteish)
}

p {
    color: var(--dark-blue);
}

label {
    color: var(--dark-blue)
}

.error-message {
    color: var(--red);
}

.hidden {
    display: none;
}
