@import "_variables.css";

nav {
    background-color: var(--dark-blue);
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

h1 {
    font-weight: bolder;
    font-size: xx-large;
    color: var(--yellow);
}

a {
    color: cornflowerblue;
    text-decoration: none;
    font-weight: 700;
}

.logo-container {
    width: 50%;
}

#logo-header-text {
    padding: 10px 50px 10px 50px;
}

.navbar-elements-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%; 
    color: green;
    padding: 0 20px 0 0;   
}

.navbar-element {
    color: var(--light-blue);
    height: auto;
    padding: 0 10px 0 10px;;
}

#logout-button-container {
    display: none;
}