@import "_variables.css";

nav {
    background-color: var(--dark-blue);
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

h1 {
    font-weight: bolder;
    font-size: xx-large;
    color: var(--yellow);
}

a {
    color: cornflowerblue;
    text-decoration: none;
    font-weight: 700;
}

svg {
    fill: pink;
}

.logo-container {
    width: 75%;
    padding: .5rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dog-logo {
    height:100px;
    fill: red;
    padding: 1rem .5rem 1rem 2rem
}

#logo-header-text {
    width:fit-content;
    padding: 10px 50px 10px 0;
}

.navbar-elements-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%; 
    color: green;
    padding: 0 20px 0 0;   
}

.navbar-element {
    color: var(--light-blue);
    height: auto;
    padding: 0 10px 0 10px;;
}

#logout-button-container {
    display: none;
}

#btnLogout {
    padding: 5px;
    color: var(--dark-blue);
    font-weight: 600;
}