p {
    color: var(--light-blue);
}

.pet-card {
    width: 30%;
    background-color: var(--light);
    color: var(--dark-blue);
    box-shadow: 1px 1px 7px var(--dark);
    border-radius: 5px;
    margin: 10px 0 10px 0
}

.pet-card:hover {
    box-shadow: 3px 3px 10px var(--dark);
    transition-duration: .25s;
}

.pet-card p {
    text-align: center;
    color: var(--dark-blue);
    padding: 15px;
}